html, body, h1, h2, h3, h4, ul, ol, li, p, a {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 16px;
	list-style-type: none;
}

body {
	background-color: #F8F8F8;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 62.5%;
}
h1 {
	color: #000000;
	margin: 0 0 15px 0;
	text-align: center;
	padding-top: 15px;
	font-size: 4.8em;
}
h2 {
	padding: 10px 0 15px 0;
	font-size: 2.4em;
}
h3 {
	text-align: center;
	font-size: 2em;
}
h4 {
	text-align: center;
}
a {
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}
a:hover {
	color: #aa0000;
	text-decoration: underline;
}
div.header {
	background-color: #3399FF;
	padding-bottom: 10px;
	border-bottom: 1px solid #000000;
}
div.footer {
	background-color: #3399FF;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #000000;
}
.footer p {
	text-align: center;
	padding: 5px 0 5px 0;
}
.resume {
	padding: 3px 0 3px 0;
	margin-left: 15px;
}
.resume li {
	list-style-type: circle;
	line-height: 25px;
}
h3.resume {
	text-align: left;
	font-size: 2em;
}
h3.resume a {
	font-size: 1em;
}
h4.resume {
	text-align: left;
	font-style: italic;
	padding-left: 15px;
}
.nav {
	padding: 0;
	text-align: center;
	margin: 15px 0 15px 0;
}
.nav a {
	margin: 15px auto 15px auto;
}
.nav li {
	display: inline;
	padding: 0 20px 0 20px;
	border-right: 2px solid #000000;
}
.nav li:last-child {
	padding-right: 0;
	border-right: none;
}
ul.info {
	margin-bottom: 20px;
}
.info li {
	display: inline;
	padding: 0 20px 0 20px;
	border-right: 2px solid #000000;
}
.info li:first-child {
	padding-left: 15px;
	border-left: none;
}
.info li:last-child {
	padding-right: 0;
	border-right: none;
}
.external-links {
	padding: 10px 0 10px 25px;
}
.content-section {
	padding: 15px;
	width: 80em;
	margin: 0 auto;
	border: 1px solid #000000;
	border-top: none;
	border-bottom: none;
}
div.img {
    margin: 5px;
    padding: 5px;
    height: auto;
    width: auto;
    text-align: center;
}
.skills {
	margin: 15px 0 15px 0;
}
.skills li {
	font-weight: bold;
	background-color: #3399FF;
	color: #FFF;
	display: inline;
	padding: 8px 8px 8px 8px;
	margin-right: 0 10px;
	border-radius: 5px;
}
.skills li:first-child {
	margin-left: 15px;
}
.W3C {
	text-align: center;
	margin-top: 15px;
}
.W3C li {
	display: inline;
	padding: 0 10px;
}
.hang-gliding {
	text-align: center;
	margin-bottom: 15px;
}
form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
}
label {
  display: block;
  font-weight: bold;
  font-size: 1.6em;
}
input {
  display: block;
  margin-bottom: 15px;
  font-size: 1.6em;
}
input[type="text"] {
  width: 25em;
}
textarea {
  display: block;
  margin-bottom: 15px;
  width: 25em;
  height: 15em;
  font-size: 1.6em;
  resize: vertical;
}
input[type=submit] {
  width: 10em;
}
input[type="checkbox"], label[for=newsletter] {
  display: inline;
} 